<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{
            color: blue;
        }
        P{
            background-color: #8b4444;
        }
    </style>
</head>
<body>
    <h1>Adfar Rashid</h1>
    
    <span>Hello <%=projects.name%>, and i am <%=projects.age%> years old</span>
    <p>My primary skill is <%=projects.skill%></p>
    <p>adfarrrrr <%projects.adddd%></p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, voluptatum. Iure temporibus odit voluptatibus modi pariatur voluptates ducimus suscipit, eaque quo vero obcaecati? Qui, voluptatum dignissimos? In quae similique repudiandae. Nesciunt nostrum nihil tempora praesentium id ipsa incidunt, provident veritatis, modi architecto repudiandae repellat. Maxime aspernatur maiores rem similique, a suscipit laboriosam odit provident? Accusantium molestias obcaecati, doloremque architecto maiores ex minima incidunt? Commodi cumque debitis quibusdam, explicabo, eos minima odio perspiciatis in asperiores ipsa quaerat consequatur. Voluptate natus molestias modi nulla possimus itaque, dolor exercitationem! Voluptatem perferendis quam, in, laboriosam sint explicabo facilis, quibusdam obcaecati doloribus blanditiis debitis ex!</p>
</body>
</html>